.loginform{
    width: 360px;
    height: 800px;
    border: 1px solid black;
    border-radius: 10px;
}
.rectangle1{
    width: 312px;
    height: 48px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 43px;
    margin-left: 24px;
}
.email-username{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-top: 15px;
    margin-left: 4px;
    color: gray;
}
.rectangle2{
    width: 312px;
    height: 48px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 28px;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
}
.img-password{
    margin-top: 13px;
    margin-left: 160px;
}
.password{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-top: 16px;
    margin-left: 4px;
    color: gray;
}
.forgot-password{
    text-align: center;
    color: #2F89FC;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-top: 12px;
}
.rectangle3{
    width: 312px;
    height: 48px;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid #0E64D2;
    background-color: #0E64D2;
    margin-left: 24px;
}
.login{
    text-align: center;
    color: white;
    margin-top: 13px;
}
.group1{
    display: flex;
    flex-direction: row;
}
.dont-have-ac{
    font-weight: 500;
    line-height: 21px;
    font-size: 14px;
    margin-left: 86px;
}
.signup{
    font-weight: 500;
    line-height: 21px;
    font-size: 14px;
    color: #2F89FC;
    margin-left: 15px;
}
.line-or{
    display: flex;
    flex-direction: row;
}
.line-1{
    width: 130px;
    border-top: 1px solid gray;
    margin-top: 28px;
    margin-left: 30px;
}
.or{
    margin-top: 17px;
    margin-left: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.line-2{
    width: 130px;
    border-top: 1px solid gray;
    margin-top: 28px;
    margin-left: 9px;
}
.rectangle4{
    width: 312px;
    height: 48px;
    border: 1px solid #1877F2;
    border-radius: 10px;
    background-color: #1877F2;
    margin-top: 33px;
    margin-left: 23px;
    display: flex;
    flex-direction: row;
}
.login-fb{
    text-align: center;
    color: white;
    margin-top: 13px;
    margin-left: 57px;
    margin-top: 13px;
}
.img-fb{
    margin-top: 7px;
    margin-left: 15px;
}
.rectangle5{
    width: 312px;
    height: 48px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 10px;
    margin-top: 33px;
    margin-left: 23px;
    display: flex;
    flex-direction: row;
}
.login-gg{
    text-align: center;
    color: white;
    margin-top: 13px;
    margin-left: 57px;
    margin-top: 13px;
    color: gray;
}
.img-gg{
    margin-top: 7px;
    margin-left: 15px;
}
.me-logo{
    display: flex;
    flex-direction: row;
}
.img-me{
    margin-top: 60px;
    margin-left: 24px;
}
.text-me{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin-top: 70px;
    margin-left: 6px;
}
